<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.dao.IAbsentDao">

	<resultMap id="result" type="Absent">
		<result property="id" column="ID" />
		<result property="userId" column="UserID" />
		<result property="userName" column="UserName" />
		<result property="absentType" column="AbsentType" />
		<result property="reason" column="Reason" />
		<result property="position" column="Position" />
		<result property="department" column="Department" />
		<result property="beginTime" column="BeginTime" jdbcType="TIMESTAMP" />
		<result property="endTime" column="EndTime" jdbcType="TIMESTAMP" />
		<result property="createTime" column="CreateTime" jdbcType="TIMESTAMP" />
		<result property="status" column="Status" />
	</resultMap>

	<insert id="addAbsent" parameterType="Absent">
		INSERT INTO absent_table
		(ID,UserID,UserName,AbsentType,Reason,Position,Department,BeginTime,EndTime,CreateTime,Status)
		VALUES
		(#{id},#{userId},#{userName},#{absentType},#{reason},#{position},#{department},#{beginTime},
		#{endTime},#{createTime},#{status})
	</insert>

	<select id="getAllAbsent" resultMap="result">
		SELECT * FROM absent_table;
	</select>

	<select id="getAbsentById" parameterType="String" resultMap="result">
		SELECT * FROM absent_table WHERE ID = #{id};
	</select>

	<!-- 条件sql -->
	<sql id="selectAbsentByQueryCriteriaSql">
		FROM absent_table tb
		<where>
			<if test="parameter.id != null">
				ID = #{parameter.id}
			</if>
			<if test="parameter.userId != null">
				and UserID = #{parameter.userId}
			</if>
			<if test="parameter.userName != null">
				and UserName = #{parameter.userName}
			</if>
			<if test="parameter.absentType != null">
				and AbsentType = #{parameter.absentType}
			</if>
			<if test="parameter.reason != null">
				and Reason = #{parameter.reason}
			</if>
			<if test="parameter.position != null">
				and Position = #{parameter.position}
			</if>
			<if test="parameter.department != null">
				and Department = #{parameter.department}
			</if>
			<if test="parameter.beginTime != null">
				and BeginTime = #{parameter.beginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="parameter.endTime != null">
				and EndTime = #{parameter.endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="parameter.createTime != null">
				and CreateTime =
				#{parameter.createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="parameter.status != null">
				and Status = #{parameter.status}
			</if>
		</where>
	</sql>


	<!-- 分页查询数据 -->
	<select id="queryAbsentByPage" parameterType="com.energy.weixin.entity.PageQueryParameter"
		resultMap="result">
		SELECT *
		<include refid="selectAbsentByQueryCriteriaSql" />
		<if test="orderBy != null">
			${orderBy}
		</if>
	</select>
	<!-- 查询总数 -->
	<select id="queryAbsentCount" parameterType="com.energy.weixin.entity.PageQueryParameter"
		resultType="long">
		SELECT count(tb.id)
		<include refid="selectAbsentByQueryCriteriaSql" />
	</select>

	<delete id="deleteById" parameterType="string">
		DELETE FROM absent_table
		WHERE ID = #{id}
	</delete>

	<update id="update" parameterType="Absent">
		UPDATE absent_table
		<set>
			<if test="userId != null ">UserID = #{userId},</if>
			<if test="userName != null ">UserName = #{userName},</if>
			<if test="absentType != null ">AbsentType = #{absentType},</if>
			<if test="reason != null ">Reason = #{reason},</if>
			<if test="position != null ">Position = #{position},</if>
			<if test="department != null ">Department = #{department},</if>
			<if test="beginTime != null ">BeginTime = #{beginTime},</if>
			<if test="endTime != null ">EndTime = #{endTime},</if>
			<if test="createTime != null ">CreateTime = #{createTime},</if>
			<if test="status != null ">Status = #{status}</if>
		</set>
		WHERE ID = #{id}
	</update>

</mapper>