<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.dao.IApprovalDao">

	<resultMap id="result" type="Approval">
		<result property="id" column="ID" />
		<result property="userId" column="UserID" />
		<result property="userName" column="UserName" />
		<result property="fowName" column="FlowName" />
		<result property="department" column="Department" />
		<result property="content" column="Content" />
		<result property="remark" column="Remark" />
		<result property="contractNumber" column="ContractNumber" />
		<result property="partner" column="Partner" />
		<result property="createTime" column="CreateTime" />
		<result property="flowType" column="FlowType" />
		<result property="status" column="Status" />
	</resultMap>

	<insert id="addApproval" parameterType="Approval">
		INSERT INTO approval_table
		(ID,UserID,UserName,FlowName,Department,Content,Remark,ContractNumber,Partner,CreateTime,FlowType,Status)
		VALUES (#{id},#{userId},#{userName},#{flowName},#{department},#{content},#{remark},#{contractNumber},
		 #{partner},#{createTime},#{flowType},#{status})
	</insert>

	<select id="getAllApproval" resultMap="result">
		SELECT * FROM approval_table;
	</select>

	<select id="getApprovalById" parameterType="String" resultMap="result">
		SELECT * FROM approval_table WHERE ID = #{id};
	</select>

	<delete id="deleteById" parameterType="string">
		DELETE FROM approval_table WHERE ID = #{id}
	</delete>

	<update id="update" parameterType="Approval">
		UPDATE approval_table
		<set>
			<if test="userId != null ">UserID = #{userId},</if>
			<if test="userName != null ">UserName = #{userName},</if>
			<if test="flowName != null ">FlowName = #{flowName},</if>
			<if test="department != null ">Department = #{department},</if>
			<if test="content != null ">Content = #{content},</if>
			<if test="remark != null ">Remark = #{remark},</if>
			<if test="contractNumber != null ">ContractNumber = #{contractNumber},</if>
			<if test="partner != null ">Partner = #{partner},</if>
			<if test="createTime != null ">CreateTime = #{createTime},</if>
			<if test="flowType != null ">FlowType = #{flowType},</if>
			<if test="status != null ">Status = #{status}</if>
		</set>
		WHERE ID = #{id}
	</update>

</mapper>