<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.dao.IEntityFileDao">

	<resultMap id="result" type="Entity_File">
		<result property="entityId" column="EntityID" />
		<result property="fileId" column="FileID" />
	</resultMap>

	<insert id="addEntity_File" parameterType="Entity_File">
		INSERT INTO entity_file_table
		(EntityID,FileID) VALUES (#{entityId},#{fileId})
	</insert>

	<select id="getAllEntity_File" resultMap="result">
		SELECT * FROM entity_file_table;
	</select>

	<select id="getEntity_FileById" parameterType="String" resultMap="result">
		SELECT * FROM entity_file_table WHERE EntityID = #{entityId};
	</select>

	<delete id="deleteById" parameterType="string">
		DELETE FROM entity_file_table WHERE EntityID = #{entityId};
	</delete>

	<update id="update" parameterType="Entity_File">
		UPDATE entity_file_table
		<set>
			<if test="entityId != null ">EntityID = #{entityId},</if>
			<if test="fileId != null ">FileID = #{fileId}</if>
		</set>
		where EntityID = #{entityId}
	</update>

</mapper>