<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.dao.IEntityAccountDao">

	<resultMap id="result" type="Entity_Account">
		<result property="entityId" column="EntityID" />
		<result property="entityType" column="EntityType" />
		<result property="accountId" column="AccountID" />
		<result property="accoutType" column="AccoutType" />
		<result property="personType" column="PersonType" />
		<result property="dealResult" column="DealResult" />
		<result property="remark" column="Remark" />
	</resultMap>

	<insert id="addEntity_Account" parameterType="Entity_Account">
		INSERT INTO entity_account_table
		(EntityID,EntityType,AccountID,AccoutType,PersonType,DealResult,Remark)
		VALUES (#{entityId},#{entityType},#{accountId},#{accoutType},#{personType},#{dealResult},#{remark})
	</insert>

	<select id="getAllEntity_Account" resultMap="result">
		SELECT * FROM entity_account_table;
	</select>

	<select id="getEntity_AccountById" parameterType="String" resultMap="result">
		SELECT * FROM entity_account_table WHERE EntityID = #{entityId};
	</select>

	<delete id="deleteById" parameterType="string">
		DELETE FROM entity_account_table WHERE EntityID = #{entityId};
	</delete>

	<update id="update" parameterType="Entity_Account">
		UPDATE entity_account_table
		<set>
			<if test="entityId != null ">EntityID = #{entityId},</if>
			<if test="entityType != null ">EntityType = #{entityType},</if>
			<if test="accountId != null ">AccountID = #{accountId},</if>
			<if test="accoutType != null ">AccoutType = #{accoutType},</if>
			<if test="personType != null ">PersonType = #{personType},</if>
			<if test="dealResult != null ">DealResult = #{dealResult},</if>
			<if test="remark != null ">Remark = #{remark}</if>
		</set>
		WHERE EntityID = #{entityId};
	</update>

</mapper>