<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.dao.IMeetingBuildingDao">

	<resultMap id="result" type="Meeting_Building">
		<result property="id" column="ID" />
		<result property="buildingName" column="BuildingName" />
	</resultMap>

	<insert id="addMeeting_Building" parameterType="Meeting_Building">
		INSERT INTO meeting_building_table
		(ID,BuildingName)
		VALUES (#{id},#{buildingName})
	</insert>

	<select id="getAllMeeting_Building" resultMap="result">
		SELECT * FROM meeting_building_table;
	</select>

	<select id="getMeeting_BuildingById" parameterType="String" resultMap="result">
		SELECT * FROM meeting_building_table WHERE ID = #{id};
	</select>

	<delete id="deleteById" parameterType="string">
		DELETE FROM meeting_building_table WHERE ID = #{id}
	</delete>

	<update id="update" parameterType="Meeting_Building">
		UPDATE meeting_building_table
		<set>
			<if test="buildingName != null ">BuildingName = #{buildingName}</if>
		</set>
		WHERE ID = #{id}
	</update>

</mapper>