<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.dao.IProgramEnsureDao">

	<resultMap id="result" type="Program_Ensure">
		<result property="programId" column="ProgramID" />
		<result property="userId" column="UserID" />
		<result property="userName" column="UserName" />
	</resultMap>
	
	<insert id="addProgram_Ensure" parameterType="Program_Ensure">
		INSERT INTO program_ensure_table
		(ProgramID,UserID,UserNameID)
		VALUES (#{programId},#{userId},#{userName})
	</insert>

</mapper>