<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.dao.IProgramChiefDao">

	<resultMap id="result" type="ProgramChief">
		<result property="id" column="ID" />
		<result property="programId" column="ProgramID" />
		<result property="userId" column="UserID" />
		<result property="userName" column="UserName" />
		<result property="type" column="Type" />
	</resultMap>
	
	<insert id="addProgram_Chief" parameterType="ProgramChief">
		INSERT INTO program_chief_table
		(ID,ProgramID,UserID,UserName,Type)
		VALUES (#{id},#{programId},#{userId},#{userName},#{type})
	</insert>

</mapper>