<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.dao.IProgramPositionDao">

	<resultMap id="result" type="Program_Position">
		<result property="id" column="ID" />
		<result property="programId" column="ProgramID" />
		<result property="userId" column="UserID" />
		<result property="userName" column="UserName" />
		<result property="stage" column="Stage" />
		<result property="position" column="Position" />
		<result property="type" column="Type" />
	</resultMap>
	
	<insert id="addProgram_Position" parameterType="Program_Position">
		INSERT INTO program_position_table
		(ID,ProgramID,UserID,UserNameID,Stage,Position,Type)
		VALUES (#{id},#{programId},#{userId},#{userName},#{stage},#{position},#{type})
	</insert>

</mapper>