<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.dao.ISignUserDao">

	<resultMap id="result" type="Sign_User">
		<result property="signId" column="SignID" />
		<result property="userId" column="UserID" />
		<result property="location" column="Location" />
		<result property="signTime" column="SignTime" />
		<result property="attendType" column="AttendType" />
		<result property="remark" column="Remark" />
	</resultMap>

	<insert id="addSign_User" parameterType="Sign_User">
		INSERT INTO sign_user_table
		(SignID,UserID,Location,SignTime,AttendType,Remark)
		VALUES (#{signId},#{userId},#{location},#{signTime},#{attendType},#{remark})
	</insert>


	<select id="getAllSign_User" resultMap="result">
		SELECT * FROM sign_user_table;
	</select>

	<select id="getSign_UserById" parameterType="String" resultMap="result">
		SELECT * FROM sign_user_table WHERE SignID = #{signId};
	</select>

	<delete id="deleteById" parameterType="string">
		DELETE FROM sign_user_table WHERE SignID = #{signId};
	</delete>

	<update id="update" parameterType="Sign_User">
		UPDATE sign_user_table
		<set>
			<if test="userId != null ">UserID = #{userId},</if>
			<if test="location != null ">Location = #{location},</if>
			<if test="signTime != null ">SignTime = #{signTime},</if>
			<if test="attendType != null ">AttendType = #{attendType},</if>
			<if test="remark != null ">Remark = #{remark}</if>
		</set>
		WHERE SignID = #{signId}
	</update>

</mapper>