<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 关闭懒加载 -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<!-- 配置实体及别名 -->
		<typeAlias type="com.energy.weixin.entity.Absent" alias="Absent"/>
		<typeAlias type="com.energy.weixin.entity.Approval" alias="Approval"/>
		<typeAlias type="com.energy.weixin.entity.EntityAccount" alias="Entity_Account"/>
		<typeAlias type="com.energy.weixin.entity.EntityFile" alias="Entity_File"/>
		<typeAlias type="com.energy.weixin.entity.EntityProgress" alias="Entity_Progress"/>
		<typeAlias type="com.energy.weixin.entity.Expense" alias="Expense"/>
		<typeAlias type="com.energy.weixin.entity.File" alias="File"/>
		<typeAlias type="com.energy.weixin.entity.MeetingBuilding" alias="Meeting_Building"/>
		<typeAlias type="com.energy.weixin.entity.MeetingRoom" alias="Meeting_Room"/>
		<typeAlias type="com.energy.weixin.entity.Meeting" alias="Meeting"/>
		<typeAlias type="com.energy.weixin.entity.SignUser" alias="Sign_User"/>
		<typeAlias type="com.energy.weixin.entity.Sign" alias="Sign"/>
		<typeAlias type="com.energy.weixin.entity.Program" alias="Program"/>
		<typeAlias type="com.energy.weixin.entity.ProgramChief" alias="Program_Chief"/>
		<typeAlias type="com.energy.weixin.entity.ProgramEnsure" alias="Program_Ensure"/>
		<typeAlias type="com.energy.weixin.entity.ProgramFeed" alias="Program_Feed"/>
		<typeAlias type="com.energy.weixin.entity.ProgramPosition" alias="Program_Position"/>
		<typeAlias type="com.energy.weixin.entity.ProgramPayment" alias="Program_Payment"/>
	</typeAliases>
	<plugins>  
        <plugin interceptor="com.energy.weixin.interceptor.PaginationInterceptor">  
            <property name="databaseType" value="mysql" />  
        </plugin>  
    </plugins>
</configuration>
