<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.mapper.AbsentMapper">

	<resultMap id="result" type="Absent">
		<result property="id" column="ID" />
		<result property="userID" column="UserID" />
		<result property="userName" column="UserName" />
		<result property="absentType" column="AbsentType" />
		<result property="reason" column="Reason" />
		<result property="position" column="Position" />
		<result property="department" column="Department" />
		<result property="beginTime" column="BeginTime" />
		<result property="endTime" column="EndTime" />
		<result property="createTime" column="CreateTime" />
		<result property="status" column="Status" />
	</resultMap>

	<insert id="addAbsent" parameterType="Absent">
		INSERT INTO absent_table
		(ID,UserID,UserName,AbsentType,Reason,Position,Department,BeginTime,EndTime,CreateTime,Status)
		VALUES (#{id},#{userID},#{userName},#{absentType},#{reason},#{position},#{department},#{beginTime},
		 #{endTime},#{createTime},#{status})
	</insert>

	<select id="getAllAbsent" resultMap="result">
		SELECT * FROM absent_table;
	</select>

	<select id="getAbsentById" parameterType="String" resultMap="result">
		SELECT * FROM absent_table where ID = #{id};
	</select>

	<delete id="deleteById" parameterType="string">
		DELETE FROM absent_table WHERE ID = #{id}
	</delete>

	<update id="update" parameterType="Absent">
		UPDATE absent_table
		<set>
			<if test="userId != null ">UserID = #{userId},</if>
			<if test="userName != null ">UserName = #{userName},</if>
			<if test="absentType != null ">AbsentType = #{absentType},</if>
			<if test="reason != null ">Reason = #{reason},</if>
			<if test="position != null ">Position = #{position},</if>
			<if test="department != null ">Department = #{department},</if>
			<if test="beginTime != null ">BeginTime = #{beginTime},</if>
			<if test="endTime != null ">EndTime = #{endTime},</if>
			<if test="createTime != null ">CreateTime = #{createTime},</if>
			<if test="status != null ">Status = #{status}</if>
		</set>
		WHERE ID = #{id}
	</update>

</mapper>