<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.mapper.ProgramMapper">

	<resultMap id="result" type="Program">
		<result property="id" column="ID" />
		<result property="userId" column="UserID" />
		<result property="userName" column="UserName" />
	</resultMap>
	
	<insert id="addProgram" parameterType="Program">
		INSERT INTO program_table
		(ID,UserID,UserName)
		VALUE (#{Id},#{userId},#{userName})
	</insert>

</mapper>