<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.energy.weixin.mapper.SignMapper">

	<resultMap id="result" type="Sign">
		<result property="id" column="ID" />
		<result property="userId" column="UserID" />
		<result property="userName" column="UserName" />
		<result property="theme" column="Theme" />
		<result property="beginTime" column="BeginTime" />
		<result property="endTime" column="EndTime" />
		<result property="signType" column="SignType" />
	</resultMap>

	<insert id="addSign" parameterType="Sign">
		INSERT INTO sign_table
		(ID,UserID,UserName,Theme,BeginTime,EndTime,SignType)
		VALUES (#{id},#{userId},#{userName},#{theme},#{beginTime},#{endTime},#{signType})
	</insert>

	<select id="getAllSign" resultMap="result">
		SELECT * FROM sign_table;
	</select>

	<select id="getSignById" parameterType="String" resultMap="result">
		SELECT * FROM sign_table WHERE ID = #{id};
	</select>

	<delete id="deleteById" parameterType="string">
		DELETE FROM sign_table WHERE ID = #{id};
	</delete>

	<update id="update" parameterType="Sign">
		UPDATE sign_table
		<set>
			<if test="userId != null ">UserID = #{userId},</if>
			<if test="userName != null ">UserName = #{userName},</if>
			<if test="theme != null ">Theme = #{theme},</if>
			<if test="beginTime != null ">BeginTime = #{beginTime},</if>
			<if test="endTime != null ">EndTime = #{endTime},</if>
			<if test="signType != null ">SignType = #{signType}</if>
		</set>
		WHERE ID = #{id}
	</update>

</mapper>